User-agent: *
Allow: /cards/
Allow: /decks/
Disallow: /admin_dashboard/
Disallow: /sdkfjvvr237rufhklsd*
Disallow: /articles/*page=*
Disallow: /galleries/*gid=*

= "\nSitemap: #{root_url}sitemap.xml"

host: https://proartifact.ru/