.main_content
  .row
    .col-md-12
      .card.my-4.cards_rules
        .card-body.p-4
          %h1 Правила сайта Proartifact.ru
          %h4 На сайте запрещается:
          %ol
            %li
              Любая деятельность, незаконная на территории РФ:
              %ul
                %li Обсуждение и пропаганда терроризма и любых противоправных действий, предусмотренных УК РФ, ГК РФ, КоАП РФ.
                %li Обсуждение изготовления взрывчатых веществ, ссылки на подобные материалы или инструкции по изготовлению.
                %li Обсуждение или планирование убийства, воровства, разбойного нападения, а также любая помощь в этом, в любом виде.
                %li Обсуждение наркоторговли и наркотиков, курительных смесей. А также упоминание или ссылки на сайты, содержание которых может помочь в поиске мест продажи наркотических средств.
                %li Преступления в сфере информационных технологий (хакерство, фишинг, нарушение авторских прав).
                %li Порнография, копрофилия, педофилия, зоофилия в любом виде.
                %li Разжигание межнациональной, расовой, религиозной или какой-либо другой розни (вражды).
            %li Прямые, косвенные или завуалированные оскорбления других пользователей портала. Угрозы личной расправой или другими деструктивными действиями, которые могут привести к конфликту. Провокации в любом их виде и на любую тему, а также хамское и неуважительное отношение к остальным пользователям портала. Равно как и оскорбления посредством изменения имени пользователя.
            %li Реферальные ссылки на интернет-магазины игровой продукции или игр. Равно как и любые реферальные ссылки.
            %li Деятельность связанная с распространением информации содержащей клевету, либо порочащие деловую или личную репутацию организаций или людей.
            %li Провокации вокруг, а равно и обсуждение тем напрямую или косвенно связанных с политикой, идеологиями, религиями или национальностями.
            %li Умышленное засорение разделов сайта бесполезными, неинформативными сообщениями, сообщениями, состоящими из беспорядочно повторяющихся символов, а также многократная отправка идентичных сообщений, в том числе сообщений, состоящих из картинок или спецсимволов, растягивающих страницу сайта в любую из сторон. А также постоянное использование транслита, Caps Lock или излишнее применение тэгов форматирования текста таким образом, что это будет мешать другим участникам проекта.
            %li Активность по искусственному увеличению показателей профиля. Деятельность, связанная с накруткой каких-либо показателей, а также автоматизация таких процессов. Например: количества загруженного контента, подписок на игры, отметок «мне нравится», накрутка бонусов, друзей или просмотров добавленного контента и т.д.
            %li Размещать контент нарушающий права третьих лиц.
            %li Полностью запрещено размещение на любых страницах сайта ссылок на скачивание полных версий любых игр, утекших в сеть бета-версий.
          %h4  Примечание:
          %ol
            %li Администрация Proartifact.ru оставляет за собой право не вступать в переписку с пользователями по вопросам наказаний за нарушение данных правил. Санкции накладываются без предварительного предупреждения и дальнейшему обжалованию не подлежат.
            %li Администраторы и модераторы имеют право преимущественного трактования тех или иных пунктов правил сайта в случае заявлений о наличии двойного смысла в таких пунктах со стороны пользователя.
            %li Данный список правил может быть дополнен или изменен в любое время без предварительного уведомления.
            %li Незнание данных правил не освобождает вас от ответственности за их нарушение.
          %h4  Авторские права:
          %ol
            %li Контент, размещенный пользователем, может быть удален администрацией сайта в любой момент без предварительного уведомления пользователя по просьбе третьих лиц, правообладателей или иным причинам. Администрация сайта не несет никакой ответственности перед пользователем за подобные действия.
            %li Если вы являетесь правообладателем и ваша интеллектуальная собственность без разрешения опубликована у нас на сайте — незамедлительно свяжитесь с нами. В кратчайшие сроки мы сделаем недоступной вашу собственность для пользователей.
