%p= "Здравствуйте, #{@resource.email}!"
%p Некоторое время назад мы получили запрос на изменение пароля Вашей учетной записи.
%p Для смены пароля на сайте перейдите по следующей ссылке:
%p= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если Вы не отправляли этот запрос - проигнорируйте это письмо
%p Ваш пароль останется прежним до тех пор пока Вы не перейдете по указаной ссылке и не зададите новый пароль

%p С уважением, администрация сайта ProArtifact.ru