%footer.py-4.bg-violet
  .container
    %p.m-0.text-center.text-white
      = link_to 'Правила', rules_path, class: 'text-right badge badge-gold'
      = link_to 'Политика конфиденциальности', privacy_path, class: 'text-right badge badge-gold'
      = link_to 'Обратная связь', 'https://vk.com/proartifact_ru', class: 'text-right badge badge-gold', target: '_blank'
    %p.m-0.text-center.text-white
      ©2018